{% extends 'base.html.twig' %}

{% block css %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.8/css/lightgallery.min.css">
{% endblock %}

{% block content %}
<div id="tittle" class="title">

  <div class="row">
    <div class="medium-12 columns">

      <div class="wrapper">

        <h2>Nuestras Tortas</h2>
        <img src="{{ absolute_url(asset('img/tbottom.png')) }}">

      </div>

    </div>
  </div>

</div>

<div id="b-galeria">

  <div class="row">
    <div class="medium-12 columns">

      <div class="wrapper">
        {% if session %}
          <a href="#" id="btn_agregar_image">Agregar</a>
        {% endif %}
        <form id="form_imagen_galeria" action="#" method="post" enctype="multipart/form-data">
          <input type="file" id="file_foto_galeria" name="file_foto_galeria">
        </form>
        <div class="lightbox row small-up-2 medium-up-4 large-up-6">
          {% for foto in galeria %}
          <div class="column">
            <a class="item" href="{{ absolute_url(asset(foto.img)) }}"><img src="{{ absolute_url(asset(foto.img)) }}"></a>
            {% if session %}
              <a href="#" class="btn_eliminar_foto_galeria" data-id="{{ foto.id }}">eliminar</a>
            {% endif %}
          </div>
          {% endfor %}

        </div>

      </div>

    </div>
  </div>

</div>
{% endblock %}

{% block js %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.2.8/js/lightgallery-all.min.js"></script>
  <script src="{{ absolute_url(asset('js/galeria.js')) }}"></script>
{% endblock %}