{% extends 'base.html.twig' %}

{% block content %}

<div id="tittle" class="title">
          
    <div class="row">
      <div class="medium-12 columns">
  
        <div class="wrapper">
  
          <h2>Mi Torta Angelina</h2>
          <img src="{{ absolute_url(asset('img/tbottom.png')) }}">
  
        </div>
  
      </div>
    </div>
  
  </div>

  <div id="bloque1">
  
    <div class="row">
      <div class="large-12 columns">
  
        <div class="wrapper">
  
          <div class="row">

            <div class="large-12 columns">

              <div class="small-12 medium-12 large-4 columns">
                
                <div id="mov">
                  	<img src="{{ absolute_url(asset('img/cake1.png')) }}">
                  	<div class="editar_texto_input" data-item="h4" data-itemclass="txt1" data-style="width:200px" data-id="1" data-campo="1">
                  		<h4 class="txt1">Lorem Ipsum</h4>
                  	</div>
					<div class="editar_texto_area" data-item="p" data-id="1" data-campo="1">
                  		<p>Lorem ipsum dolor sit amet, consectetur Curabitur ornare ex vitae mauris faucibus</p>
                  	</div>
                </div>

              </div>

              <div class="small-12 medium-12 large-4 columns">

                <div id="mov">
                  	<img src="{{ absolute_url(asset('img/cake2.png')) }}">
	                <div class="editar_texto_input" data-item="h4" data-itemclass="txt2" data-style="width:200px" data-id="2" data-campo="1">
	                  	<h4 class="txt2">Lorem Ipsum</h4>
	                </div>
	                <div class="editar_texto_area" data-item="p" data-id="2" data-campo="1">
                  		<p>Lorem ipsum dolor sit amet, consectetur Curabitur ornare ex vitae mauris faucibus</p>
                  	</div>
                </div>
              
              </div>

              <div class="small-12 medium-12 large-4 columns">

                <div id="mov">
                  	<img src="{{ absolute_url(asset('img/cake3.png')) }}">
                  	<div class="editar_texto_input" data-item="h4" data-itemclass="txt3" data-style="width:200px" data-id="3" data-campo="1">
                  		<h4 class="txt3">Lorem Ipsum</h4>
                  	</div>
                  	<div class="editar_texto_area" data-item="p" data-id="3" data-campo="1">
                  		<p>Lorem ipsum dolor sit amet, consectetur Curabitur ornare ex vitae mauris faucibus</p>
                  	</div>
                </div>
              
              </div>

              
            </div>

          </div>
  
        </div>
  
      </div>
    </div>
  
  </div>

  <div id="bloque2">
  
    <div class="row">
      <div class="medium-12 columns">
  
        <div class="wrapper">
  
          <div class="small-12 medium-5 columns">

            <div id="c-left">
              <img src="{{ absolute_url(asset('img/comilla1.png')) }}" class="img-left">
              <div class="editar_texto_area" data-item="p" data-id="4" data-campo="1">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ornare ex vitae mauris faucibus interdum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed lobortis,</p>
              </div>
            </div>

          </div>

          <div class="small-12 medium-2 columns">
            <img src="{{ absolute_url(asset('img/center-cake.png')) }}" >
          </div>

          <div class="small-12 medium-5 columns">
            <div id="c-right">
              <div class="editar_texto_area" data-item="p" data-id="4" data-campo="2">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ornare ex vitae mauris faucibus interdum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed lobortis,</p>
              </div>
              <img src="{{ absolute_url(asset('img/comilla2.png')) }}" class="img-right">

            </div>

          </div>
  
        </div>
  
      </div>
    </div>
  
  </div>


  <div id="tittle" class="title">
  
    <div class="row">
      <div class="medium-12 columns">
  
        <div class="wrapper">
  
          <h2>Nuestras Tortas</h2>
          <img src="{{ absolute_url(asset('img/tbottom.png')) }}">
  
        </div>
  
      </div>
    </div>
  
  </div>


  <div id="bloque3">
  
    <div class="row">
      <div class="medium-12 columns">
  
        <div class="wrapper">
  
          <div id="cont-b3">
          
            <div class="row">
              <div class="medium-12 columns">
          
                <div class="wrapper">

          
                  <div class="small-12 medium-6 large-3 columns">
                    
                    <div class="row">

                      <div class="medium-12 columns">

                        
                        <div class="medium-12 columns" id="flotante">
                          
                          <img src="{{ absolute_url(asset('img/cake4.png')) }}">

                        </div>

                        <div class="medium-12 columns" id="clr">

                          <div class="resize-div">

                          </div>

                        </div>

                        <div class="medium-12 columns editar_texto_input" data-item="h5" data-id="5" data-campo="1">
                          
                          <h5>Lorem Ipsum</h5>

                        </div>

                        <div class="medium-12 columns editar_texto_area" id="clr2" data-item="p" data-id="5" data-campo="2">
                          
                          <p>Lorem ipsum dolor sit amet, consectetur Curabitur ornare ex vitae mauris faucibus interdumadipiscing elit.</p>

                        </div>

                      </div>

                    </div>

                  </div>

                  <div class="small-12 medium-6 large-3 columns">
                    
                    <div class="row">

                      <div class="medium-12 columns">

                        
                        <div class="medium-12 columns" id="flotante">
                          
                          <img src="{{ absolute_url(asset('img/cake5.png')) }}">

                        </div>

                        <div class="medium-12 columns" id="clr">

                          <div class="resize-div">

                          </div>
                          
                        </div>

                        <div class="medium-12 columns editar_texto_input" data-item="h5" data-id="6" data-campo="1">
                          
                          <h5>Lorem Ipsum</h5>

                        </div>

                        <div class="medium-12 columns editar_texto_area" id="clr2" data-item="p" data-id="6" data-campo="2">
                          
                          <p>Lorem ipsum dolor sit amet, consectetur Curabitur ornare ex vitae mauris faucibus interdumadipiscing elit.</p>

                        </div>

                      </div>

                      </div>

                    </div>



                  <div class="small-12 medium-6 large-3 columns">
                    
                    <div class="row">

                      <div class="medium-12 columns">

                        

                        <div class="medium-12 columns" id="flotante">
                          
                          <img src="{{ absolute_url(asset('img/cake6.png')) }}">

                        </div>

                        <div class="medium-12 columns" id="clr">

                          <div class="resize-div">

                          </div>
                          
                        </div>

                        <div class="medium-12 columns editar_texto_input" data-item="h5" data-id="7" data-campo="1">
                          
                          <h5>Lorem Ipsum</h5>

                        </div>

                        <div class="medium-12 columns editar_texto_area" id="clr2" data-item="p" data-id="7" data-campo="2">
                          
                          <p>Lorem ipsum dolor sit amet, consectetur Curabitur ornare ex vitae mauris faucibus interdumadipiscing elit.</p>

                        </div>

                      </div>
                        
                      </div>

                    </div>



                  <div class="small-12 medium-6 large-3 columns">
                    
                    <div class="row">

                      <div class="medium-12 columns">

                        
                        <div class="medium-12 columns" id="flotante">
                          
                          <img src="{{ absolute_url(asset('img/cake7.png')) }}">

                        </div>

                        <div class="medium-12 columns" id="clr">

                          <div class="resize-div">

                          </div>
                          
                        </div>

                        <div class="medium-12 columns editar_texto_input" data-item="h5" data-id="8" data-campo="1">
                          
                          <h5>Lorem Ipsum</h5>

                        </div>

                        <div class="medium-12 columns editar_texto_area" id="clr2" data-item="p" data-id="8" data-campo="2">
                          
                          <p>Lorem ipsum dolor sit amet, consectetur Curabitur ornare ex vitae mauris faucibus interdumadipiscing elit.</p>

                        </div>

                      </div>
                        
                      </div>

                    </div>

                  </div>
          
                </div>
          
              </div>

            </div>
          
          </div>
  
        </div>
  
      </div>

    </div>

{% endblock %}