{% extends 'base.html.twig' %}

{% block content %}
<div id="tittle" class="title">

  <div class="row">
    <div class="medium-12 columns">

      <div class="wrapper">

        <h2>Nuestras Tortas</h2>
        <img src="{{ absolute_url(asset('img/tbottom.png')) }}">

      </div>

    </div>
  </div>

</div>

<div id="n-cont1">

  <div class="row">
    <div class="medium-8 medium-centered columns">

      <div class="wrapper">

        <div class="row medium-up-3">
        
          <div class="column">

            <div id="cont" class="text-center">
              <img src="{{ absolute_url(asset('img/ic-n-1.png')) }}">
            </div>

            <div id="cont2">
              <h3>T&eacute;cnica</h3>
              <img src="{{ absolute_url(asset('img/bottom-t.png')) }}">
            </div>
          </div>

          <div class="column">

            <div id="cont" class="text-center">
              <img src="{{ absolute_url(asset('img/ic-n-2.png')) }}">
            </div>

            <div id="cont2">
              <h3>Perfecci&oacute;n</h3>
              <img src="{{ absolute_url(asset('img/bottom-t.png')) }}">
            </div>

          </div>

          <div class="column">

              <div id="cont" class="text-center">
                      <img src="{{ absolute_url(asset('img/ic-n-3.png')) }}">
                  </div>

                  <div id="cont2">
                      <h3>dise&ntilde;o</h3>
                      <img src="{{ absolute_url(asset('img/bottom-t.png')) }}">
               </div>

            </div>
          
        </div>

        <div class="row">
          <div id="n-txt" class="medium-12 medium-centered columns editar_texto_area" data-item="p" data-id="9" data-campo="1">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vestibulum sem non dolor varius mollis.Duis at auctor leo.Nam placerat vulputate urna eu maximus.Proin venenatis molestie maximus.</p>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>

<div id="n-cont2">

  <div class="row">
    <div class="medium-12 columns">

      <div class="wrapper">

        <div class="row">
          <div class="medium-12 columns">
              
              <div id="tittle" class="title">

                <div class="row">
                  <div class="medium-12 columns">
              
                    <div class="wrapper">
              
                      <h2>Nuestras Tortas</h2>
                      <img src="{{ absolute_url(asset('img/tbottom.png')) }}">
              
                    </div>
              
                  </div>
                  
                </div>

              </div>

            </div>
        </div>

        <div id="txt-mid-n">

          <img  class="torta" src="{{ absolute_url(asset('img/mega-cake.png')) }}">

          <div class="row">
            
            <div class="medium-12 columns">

              <div class="row medium-9 end columns">

                    <img src="{{ absolute_url(asset('img/comilla1.png')) }}" id="img-left">
                    <div class="editar_texto_area" data-item="p" data-id="10" data-campo="1">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vestibulum sem non dolor varius mollis. Duis at auctor leo.  Nam placerat vulputate urna eu maximus. Proin venenatis molestie maximus.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vestibulum sem non dolor varius mollis.</p>
                    </div>

                    <img src="{{ absolute_url(asset('img/comilla2.png')) }}" id="img-right">

              </div>

            </div>

          </div>

        </div>

      </div>

    </div>
  </div>

</div>
<br>
<br>
<br>
{% endblock %}