<!doctype html>
<html class="no-js" lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Mi Torta Angelina</title>

      <link rel="stylesheet" href="{{ absolute_url(asset('css/app.css')) }}">
      <link rel="stylesheet" href="{{ absolute_url(asset('css/personalizado.css')) }}">

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css" />
      {% block css %}
      {% endblock %}

       <style>
          .topbar_admin{
            height: 40px;
            background-color: #242029;
            text-align: right;
          }

          .topbar_admin div{
            padding-top: 8px;
            width: 72em;
            margin: auto;
          }

          .topbar_admin div a{
            color: #e9daf7;
            border: 2px solid #d1b7e8;
            padding: 4px 20px;
            border-radius: 7px;
          }
      </style>
      <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
      <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

  </head>
  <body>

    <!-- loader -->
    <div id="loader-wrapper">
      <div id="loader"></div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
    <!-- loader end -->
    
    <div class="off-canvas-wrapper">
      {% if session %}
      <div class="topbar_admin">
          <div>
              <a href="{{ url('web_logout') }}">Salir</a>
          </div>
      </div>
      {% endif %}

      <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <div class="off-canvas position-left" id="offCanvas" data-off-canvas data-position="left">
            <ul id="menu-mobile" class="menu vertical">
              <li><a href="{{ url('web_view_inicio') }}" {{ pagina == 'inicio' ? 'class="selected"' }}>Inicio</a></li><!--
              --><li><a href="{{ url('web_view_nosotros') }}" {{ pagina == 'nosotros' ? 'class="selected"' }}>Nosotros</a></li><!--
              --><li><a href="{{ url('web_view_arma') }}" {{ pagina == 'arma' ? 'class="selected"' }}>Arma tu Torta</a></li><!--
              --><li><a href="{{ url('web_view_categoria') }}" {{ pagina == 'categoria' ? 'class="selected"' }}>Categoria</a></li><!--
              --><li><a href="{{ url('web_view_galeria') }}" {{ pagina == 'galeria' ? 'class="selected"' }}>Galer&iacute;a</a></li><!--
              --><li><a href="{{ url('web_view_contacto') }}" {{ pagina == 'contacto' ? 'class="selected"' }}>Contacto</a>
            </ul>
        </div>
        <div class="off-canvas-content" data-off-canvas-content>
        
          <!-- offcanvas -->
          <button type="button" id="btn-menu" class="icon-top" data-toggle="offCanvas">
                  <i class="menu-icon "></i>
                  <span>MENU</span>
          </button>

          <div id="header">
          
            <div class="row">
              <div class="large-12 columns">
          
                <div class="wrapper">

                  <div id="logo">
                    <a href="{{ url('web_view_inicio') }}"><img src="{{ absolute_url(asset('img/logo.png')) }}"></a>
                  </div>
          
                  <div id="nav">
                    <ul>
                      <li><a href="{{ url('web_view_inicio') }}" {{ pagina == 'inicio' ? 'class="selected"' }}>Inicio</a></li><!--
                      --><li><a href="{{ url('web_view_nosotros') }}" {{ pagina == 'nosotros' ? 'class="selected"' }}>Nosotros</a></li><!--
                      --><li><a href="{{ url('web_view_arma') }}" {{ pagina == 'arma' ? 'class="selected"' }}>Arma tu Torta</a></li><!--
                      --><li><a href="./"><img src="{{ absolute_url(asset('img/logo.png')) }}"></a></li><!--
                      --><li><a href="{{ url('web_view_categoria') }}" {{ pagina == 'categoria' ? 'class="selected"' }}>Categoria</a></li><!--
                      --><li><a href="{{ url('web_view_galeria') }}" {{ pagina == 'galeria' ? 'class="selected"' }}>Galer&iacute;a</a></li><!--
                      --><li><a href="{{ url('web_view_contacto') }}" {{ pagina == 'contacto' ? 'class="selected"' }}>Contacto</a>
                    </ul>
                  </div>
          
                </div>
          
              </div>
            </div>
          
          </div>

          <div id="slider">
          
            <div class="row">
              <div class="medium-12 columns">
          
                <div class="wrapper">
          
                  <div id="slide">
                    
                    <div id="owl-demo" class="owl-carousel owl-theme">
                      {% for imagen in banner %}
                      <div class="item"><img src="{{ absolute_url(asset(imagen.img)) }}" alt="">{% if session %}<a href="#" class="btn_eliminar_foto_banner" data-id="{{ imagen.id }}">Eliminar</a>{% endif %}</div>
                      {% endfor %}
                      <!-- <div class="item"><img src="{{ absolute_url(asset('img/banner1.jpg')) }}" alt="">{% if session %}<a href="#" class="btn_eliminar_foto_banner" data-id="1">Eliminar</a>{% endif %}</div> -->
                       
                    </div>

                  </div>
                  {% if session %}
                    <div style="text-align:center">
                      <a href="#" id="btn_imagen_banner">Agregar banner</a>
                      <form action="#" id="form_imagen_banner" method="post" enctype="multipart/form-data">
                        <input type="file" name="file_imagen_banner" id="file_imagen_banner">
                      </form>
                    </div>
                  {% endif %}
                </div>
          
              </div>
            </div>
          
          </div>
        
        {% block content %}

        {% endblock %}

        <div id="footer">
          
            <div class="row" data-equalizer>
              
              <div class="large-6 columns text-center" data-equalizer-watch>
                <h6>Pedidos y Consultas</h6>
                
                <div id="t-f">
                  <!-- <img src="{{ absolute_url(asset('img/phone.png')) }}"> -->
                  <span>Tel&eacute;fono fijo</span> <br> <div class="editar_texto_input" data-item="h6" data-id="13" data-campo="2"><h6>&#43;56 9 53347081</h6></div>
                </div>

                <div id="t-f">
                  <!-- <img src="{{ absolute_url(asset('img/phone.png')) }}"> -->
                  <span>fono ventas</span> <br><div class="editar_texto_input" data-item="h6" data-id="14" data-campo="2"><h6>&#43;56 9 95533800</h6></div>
                </div>

              </div>

              <div class="large-6 columns" id="more-speed">
                <img src="{{ absolute_url(asset('img/logo2.png')) }}" class="img-del">
              </div>

            </div>
          
          </div>

          <!-- offcanvas end -->

        </div>
      </div>
    </div>

    <script src="{{ absolute_url(asset('bower_components/jquery/dist/jquery.js')) }}"></script>
    <script src="{{ absolute_url(asset('bower_components/what-input/what-input.js')) }}"></script>
    <script src="{{ absolute_url(asset('bower_components/foundation-sites/dist/foundation.js')) }}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/TinyNav.js/1.2.0/tinynav.min.js"></script>

    <script src="{{ absolute_url(asset('js/app.js')) }}"></script>
    {% block js %}
    {% endblock %}
    {% if session %}
      <script src="{{ absolute_url(asset('js/admin.js')) }}"></script>
    {% endif %}

    <script>
      $(document).ready(function() {
        
        $("#owl-demo").owlCarousel({
       
            navigation : false, // Show next and prev buttons
            slideSpeed : 200,
            singleItem:true,
            autoPlay: true,
            pagination: false,
       
            // "singleItem:true" is a shortcut for:
            // items : 1, 
            // itemsDesktop : false,
            // itemsDesktopSmall : false,
            // itemsTablet: false,
            // itemsMobile : false
            //-37.0985489,-72.5645894
       
        });

        $( window ).resize(function() {
          $("#owl-demo").data('owlCarousel').updateVars();
        });

        $("#owl-demo").data('owlCarousel').updateVars();
       
      });
    </script>

    <script>
        $(function () {
          $("#nav").tinyNav();
        });
    </script>

  </body>
</html>
